.mainview-dates {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  padding: 20px 0;
  gap: 20px;

  svg {
    font-size: 1.5rem;
  }

  .days-list {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 30px 20px;
      border-radius: 10px;
      letter-spacing: 0.7px;
      cursor: pointer;
      transition: 150ms ease-in;
      flex: 1;

      &:hover {
        scale: 1.04;
      }

      p {
        font-weight: 900;
      }
    }

    div.active {
      background-color: var(--darkGray);
      color: white;
    }
  }
}
