.control-panel-wrapper {
  flex: 2.5;
  color: var(--white);
  box-sizing: border-box;
  padding: 0 5px;

  article {
    width: 100%;
    background-color: rgb(28, 28, 28);
    box-sizing: border-box;
    padding: 5px;
    border-radius: 15px;
  }

  article.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .user-details {
      height: min-content;
      display: flex;
      align-items: center;
      gap: 5px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .user-info {
        p {
          font-size: 0.7rem;
        }

        h6 {
          font-size: 0.9rem;
        }
      }
    }

    .notifications-button {
      background-color: var(--darkButtonBackground);
      padding: 5px 10px;
      border-radius: 50%;
      border: none;
      outline: none;
      cursor: pointer;
      position: relative;
      .icon {
        font-size: 1.5rem;
        color: var(--white);
      }
      .notifications-number {
        position: absolute;
        color: black;
        background-color: var(--purple);
        padding: 3px 6px;
        border-radius: 50%;
        top: -5px;
        right: -5px;
      }
    }
  }
}
